amqp==2.6.1
beautifulsoup4==4.12.3
billiard==3.6.4.0
celery==4.4.5
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
future==1.0.0
idna==3.6
kombu==4.6.11
prompt-toolkit==3.0.43
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==2.2.1
vine==1.3.0
wcwidth==0.2.13
xmltodict==0.13.0
